// Variables
$darkBlue: #243139;
$fbBlue: #3563e7;
$lightBlue: #2ebcea;
$snow: #f6f9fa;
$radius: 4px;

/*==Typography=*/
body {font: 16px /*'Montserrat',*/'Source sans pro', sans-serif;}
.sec-main h1,
.sec-main p,
.sec-everywhere h1,
.sec-everywhere p,
.sec-features h1,
.sec-features p,
footer h1,
footer p {
  text-align: center;
  @media screen and (max-width: 768px) {text-align: left;}
}
h1,
h2 {margin: 0;}
h1 {font-size: 2em;}
p {
  font-size: 1.125em;
  font-weight: 300;
  line-height: 1.625em;
}
.sec-main h2 {
  margin: .9em 0;
  font-size: 1.75em;
  font-weight: 200;
  line-height: 1.5em;
  text-align: center;
}
.features-post h1 {font-size: 1.5em;}
.features-post p {font-size: 1em;}
footer h1 {font-size: 2.125em;}
/*==Layout==*/
html,
body,
.wrapper {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}
*,
*:before,
*:after {box-sizing: border-box;}
section {
  width: 100%;
  min-height: 480px;
}
.container {
  margin: 0 auto;
  padding: 6.625em 0;
  max-width: 60em;/*960px*/
  height: 100%;
  @media screen and (max-width: 768px) {padding: 3em 0;}
}
.row {width: 100%;}
.col-3,
.col-2 {
  float: left;
  padding: 0 1em;
}
.col-3 {width: 33.3333333%}
.col-2 {width: 50%;}
@media screen and (max-width: 768px) {
  .col-3,
  .col-2{
    float: none;
    margin: auto;
    padding: 0 1.75em;
    width: 90%;
  }
}
ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.button {
  //padding: 1.0625em;
  width: 148px;
  height: 46px;
  font: 700 1em 'Source sans pro', sans-serif;
  text-align: center;
  background: $lightBlue;
  color: #fff;
  border: 0;
  cursor: pointer;
  outline: 0;
  transition: background .25s;
  &:focus,
  &:hover {background: lighten($lightBlue, 10%);}
  &:active {background: darken($lightBlue, 7%);}
}
/*==Main==*/
.sec-main {
  position: relative;
  height: 100%;
  background: url(http://i.imgur.com/vWaCvkG.jpg) no-repeat;
  background-size: cover;
  color: #fff;
}
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,.5);
}
.center {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  max-width: 465px;
  height: 282px;
}
.logo {
  margin: auto;
  width: 110px;
  height: 121px;
  text-indent: 100%;
  background: url(http://i.imgur.com/f7ZqbJT.png) no-repeat;
  background-size: 100%;
  overflow: hidden;
}
@media screen and (max-width: 768px) {
  .sec-main br {display: none;}
}
form {
  margin: auto;
  max-width: 434px;
  @media screen and (max-width: 560px) {max-width: 90%;}
}
form input[type="email"],
form .button {
  height: 48px;
  font-size: 1em;
  border: 0;
}
form input[type="email"] {
  padding: 1.0625em;
  width: 314px;
  border-top-left-radius: $radius;
  border-bottom-left-radius: $radius;
  @media screen and (max-width: 30em) {width: 251px;}
  @media screen and (max-width: 410px) {width: 70%;}
}
form .button {
  position: relative;
  top: 1px;
  left: -4px;
  width: 116px;
  border-top-right-radius: $radius;
  border-bottom-right-radius: $radius;
  @media screen and (max-width: 410px) {width: 29%;}
}
form .button-full {
  width: 100%;
  background: #1fd589;
  border-top-left-radius: $radius;
  border-bottom-left-radius: $radius;
  cursor: default;
  transition: all .25s;
  &:focus,
  &:hover,
  &:active {background: #1fd589;}
}
header {
  position: absolute;
  bottom: 0;
  width: 100%;
  max-height: 87px;
  background: rgba(0,0,0,.75);
}
.fixed {
  position: fixed;
  top: 0;
}
.nav {
  display: flex;
  justify-content: center;
}
.nav a {
  display: block;
  padding: 1.975em;
  text-decoration: none;
  color: #fff;
  border-bottom: .35em solid transparent;
  transition: border-bottom .25s;
  &:focus,
  &:hover {border-bottom: .35em solid $lightBlue;}
}
/*==About==*/
.sec-about {
  height: 736px;
  background: url(http://i.imgur.com/tkZcvec.png) no-repeat center right;
  background-size: 649px 439px;
  background-position: 111% 52%;
}
@media screen and (max-width:1056px) {
  .sec-about {background-position: 155% 52%;}
}
@media screen and (max-width: 60em) {
  .sec-about {
    margin-bottom: 4em;
    height: 570px;
    text-align: left;
    background-position: bottom center;
    background-size: 55%;
  }
  .sec-about button {display: none;}
}
@media screen and (max-width: 885px) {
  .sec-about {background-size: 65%;}
}
@media screen and (max-width: 700px) {
  .sec-about {background-size: 75%;}
}
@media screen and (max-width: 500px) {
  .sec-about {background-size: 85%;}
}
.sec-about .container {
  padding-top: 185px;
  @media screen and (max-width: 60em) {padding-top: 2em;}
}
.sec-about .col-2:first-child {
  margin: 5% auto;
  padding-right: 1em;
  font-size: 1.125em;/*18px*/
  @media screen and (max-width: 60em) {
    float: none;
    width: 80%;
    text-align: center;
  }
}
.sec-about .col-2:last-child {
  height: 300px;
  //background: url(http://i.imgur.com/tkZcvec.png) no-repeat;
  //background-size: 100%;
}
.sec-about .button {border-radius: $radius;}
/*==Everywhere==*/
.sec-everywhere {
  min-height: 704px;
  background: $lightBlue;
  color: #fff;
  //overflow: hidden;
}
@media screen and (max-width: 768px) {
  .sec-everywhere .container {
    margin: auto;
    width: 90%;
  }
}
.row-list {
  text-align: center;
  @media screen and (max-width: 979px) {overflow-x: auto;}
}
.row-list h2 {
  font-size: 1.25em;
  font-weight: 700;
}
.row-list p {text-align: center;}
.everywhere-list {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  min-width: 960px;
  cursor: default;
}
.everywhere-list li {width: 33.3333333%;}
.everywhere-list li .col-3 {width: 100%;}
.sec-everywhere h2 {margin-top: 3em;}
.sec-everywhere .row:nth-child(2) p {
  padding: 0 10.5em 3em 10.5em;
  @media screen and (max-width: 768px) {padding: 0;}
}
.sec-everywhere .row:nth-child(3) p {line-height: 0;}
.sec-everywhere .img-container {
  position: relative;
  height: 206px;
}
.sec-everywhere img {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}
/*==Task Management==*/
.sec-task-mngmt {
  min-height: 581px;
  background: $snow;
}
@media screen and (max-width: 768px) {
  .sec-task-mngmt {text-align: left;}
  .sec-task-mngmt br {display: none;}
}
@media screen and (max-width: 768px) {
  .sec-task-mngmt .row {
    background: #f6f9fa;
    float: left;
  }
}
.sec-task-mngmt .container {padding: 0;}
.sec-task-mngmt .col-2:last-child {
  float: left;
  height: 600px;
  background: url(http://i.imgur.com/w7fqAU2.png) no-repeat top left;/*iPhone*/
  @media screen and (max-width: 30em) {
    float: left;
    width: 100%;
    height: 365px;
    background: url(http://i.imgur.com/YqipjX0.png) no-repeat top center;
    background-size: 70%;
  }
}
.sec-task-mngmt .col-2:first-child {
  float: right;
  margin: 25% 0;
  @media screen and (max-width: 30em) {
    margin: 2em auto;
    padding: 0 3em;
  }
}
/*==Features==*/
.sec-features {min-height: 608px;}
@media screen and (max-width: 30em) {
  .col-3:first-child .features-post {margin-top: 5em;}
}
@media screen and (max-width: 900px) {
  .features-post br {display: none;}
}
.features-post img {
  display: block;
  margin: 3em auto;
  @media screen and (max-width: 768px) {margin: 1.5em 0;}
  @media screen and (max-width: 30em) {width: 70px;}
}
.features-post p {
  padding: 0 2em;
  @media screen and (max-width: 768px) {padding: 0;}
}
.features-post br {@media screen and (max-width: 30em) {display: none;}}
/*==Footer==*/
footer {
  min-height: 320px;
  background: $darkBlue;
  color: #fff;
}
footer .container {padding-bottom: 0;}
footer h1 {margin-bottom: 1em;}
/*footer input[type="mail"],
footer .button {border-radius: 0;}*/
footer p {
  margin: 2.5em auto 4em;
  max-width: 600px;
}
@media screen and (max-width: 768px) {
  footer h1 {
    margin: 0 auto 1em auto;
    width: 80%;
  }
  footer p {width: 80%;}
}
footer .row:last-child p {text-align: center;}
footer a {
  margin-left: .5em;
  padding: 1em 0;
  width: 3.25em;
  text-align: center;
  text-decoration: none;
  color: #fff;
  border: .1em solid;
  border-radius: 50%;
  transition: color .25s;
  &:focus,
  &:hover {color: lighten($darkBlue, 7%);}
  &:active {color: darken($darkBlue, 7%);}
}